In [1]:
import pandas as pd

In [3]:
data = pd.read_csv("budget_data.csv")

In [4]:
data

        Date  Profit/Losses
0   Jan-2010         867884
1   Feb-2010         984655
2   Mar-2010         322013
3   Apr-2010         -69417
4   May-2010         310503
..       ...            ...
81  Oct-2016         102685
82  Nov-2016         795914
83  Dec-2016          60988
84  Jan-2017         138230
85  Feb-2017         671099

[86 rows x 2 columns]

In [5]:
#total month
total_month = data.shape[0]

In [7]:
#The net total amount of Profit/Losses over the entire period.
total_amount = data['Profit/Losses'].sum()

In [23]:
#The average of the changes in Profit/Losses over the entire period.
data['day_shift'] = data['Profit/Losses'].shift(1)
data['change'] = data['Profit/Losses'] - data.day_shift
average = data['change'].mean()

In [43]:
#The greatest increase in profits (date and amount) over the entire period.

#data.set_index("Date", inplace = True)
great_increase = data['change'].idxmax()
increase = data.loc[great_increase,'change']

In [48]:
#The greatest decrease in losses (date and amount) over the entire period.
great_loss = data['change'].idxmin()
loss = data.loc[great_loss,'change']

In [54]:
print('Financial Analysis')
print(f"Total Months: {total_month}")
print(f"Total: ${total_amount}")
print(f"Average  Change: ${average}")
print(f"Greatest Increase in Profits: {great_increase} (${increase})")
print(f"Greatest Decrease in Profits: {great_loss} (${loss})")

Financial Analysis
Total Months: 86
Total: $38382578
Average  Change: $-2315.1176470588234
Greatest Increase in Profits: Feb-2012 ($1170593)
Greatest Decrease in Profits: Sep-2013 ($-2196167.0)